<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ZenPics</title>
  <link rel="stylesheet" href="/assets/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/styles.css">
  <link rel="stylesheet" href="/assets/stylesheets/lightbox.css">
</head>
<body>
  <!-- navigation bar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#app-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">ZenPics</a>
      </div> <!-- navbar-header -->
      <div class="collapse navbar-collapse" id="app-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
        <li>
          <span class="navbar-form navbar-right">
            <button class="btn btn-success" data-toggle="modal" data-target="#create-album-modal">Create Album</button>
          </span>
        </li>
        <li><a href="/home">My Albums</a></li>
        <li><a href="/logout/">Logout</a></li>
      </ul>
      </div><!-- navbar-collapse -->
    </div><!-- container-fluid -->
  </nav><!-- navbar -->  

  <div class="container-fluid">
    
    <div class="row">
      <div class="col-md-12">
        <h2>{{= user.name }}'s Albums</h2>
        <hr>
      </div> <!-- col-md-12 -->
    </div> <!-- row  -->

    <div class="row">
      {{ for(var i = 0; i < albums.length; i++) { }}
      <div class="col-md-4">
        <h3>
          <a href="/album/{{= albums[i]._id }}">{{= albums[i].title }}</a> <br>
          <small>{{= albums[i].description }}</small>
        </h3>
      </div>
      {{ } }}
      <div class="col-md-12">
      {{ if(albums.length == 0) { }}
        <h3>You have created no albums :(  <br>
          <small>Create one using the &quot;Create Album&quot; button above!</small>
        </h3> 
      {{ } }}
      </div>
    </div>

    {{ if(typeof sharedAlbums !== 'undefined') { }}
    <div class="row">
      <div class="col-md-12">
        <h2>Albums shared with you</h2>
        <hr>
      </div> <!-- col-md-12 ends -->
      {{ for(var i = 0; i < sharedAlbums.length; i++) { }}
      <div class="col-md-4">
        <h3>
          <a href="/album/{{= sharedAlbums[i]._id }}">{{= sharedAlbums[i].title }}</a> <br>
          <small>{{= sharedAlbums[i].description }}</small>
        </h3>
      </div>
      {{ } }}
    </div> <!-- row ends -->
    {{ } }}

  {{ include ../common/footer.ejs }}
  </div> <!-- container fluid -->

  {{ include create-album-modal.ejs }}

  {{ include ../common/analytics.ejs }}

  <script src="/assets/javascripts/lib/jquery.min.js"></script>
  <script src="/assets/javascripts/lib/bootstrap.min.js"></script>
  <script src="/assets/javascripts/create-album.js"></script>
</body>
</html>