<div class="row">
  <div class="col-md-12">
    <hr>
    <p>
      Built with <span class="glyphicon glyphicon-heart"></span> in Banjarpalya. View <a href="https://github.com/ansal/zenpics">source</a>.
    </p>
  </div>
</div>